.App {
  text-align: center;
}

body{
  width: 1830px;
  height: 100%;
  margin: auto;
  padding: 0;
  
}
/* header style */
.header {
  height: 100px;
  background-color: rgb(241, 238, 236);
  letter-spacing: 0;
}

.header a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 4px;
  letter-spacing: 4px;
  float: left;
}

.header a:hover {
  background: lightgrey;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #202222,
              0 0 25px #202222,
              0 0 50px #202222,
              0 0 100px #202222;
}

.header a span {
  position: absolute;
  display: block;
}


.header a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2b2c2c);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.header a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #222222);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .95s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.header a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #232424);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .95s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.header a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #1f2020);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .95s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}



.cart-div {
  float: right;
  margin: 4px;
  position: relative;
}
.cart-div img{
  width: 50px;
  margin-right: 30px;
  border-radius: 50%;
}
.logo {
    float: left;
    margin: 0;
    padding: 25px;
}
.search-box {
  float: left;
}
.search-box input {
  width: 124%;
  float: left;
  height: 40px;
  border: 1px solid #ddd;
  padding-left: 10px;
  font-size: 15px;
}
.signup-btn {
  float: right;
  letter-spacing: 0px;
  border-radius: 50%;
}
.profile-icon {
  color: black;
  font-size: 30px;
  float: right;
}
.profile-image {
  border-radius: 50%;
}
.add-btn {
  float: left;
}
/* end header style */

/* product UI */
.product-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
}
.product-item {
  border: 1px solid #ccc;
  margin: 20px;
  padding: 20px;
  border-radius: 10%;
}
.product-item img:hover {
  opacity: 0.8;
  zoom: 1;
}
.search-icon {
  float: left;
  margin-top: 27px;
  font-size: 22px;
}
/* end product UI */

/* Cart UI start */
.cart-page-container {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
}
.cart-page-container table {
  flex: 65%;
  border-collapse: collapse;
}
.cart-page-container table td {
  border: 1px solid #ccc;
  padding: 20px;
}
.price-details {
  flex: 35%;
  margin: 0px, 30px;
}
.price-details .adjust-price {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.price-details .adjust-price span {
  font-size: 20px;
}
/* Cart Ui end */

/* Register UI start */
.register-form{
  /* margin-top: 150px; */
  color: black;
}
/* Register Ui end */

/* start Loader css */
.loader-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f8f8f8ad;
}

.loader-container .loader-img {
  top: 30%;
  left: 48%;
  z-index: 1000;
  position: absolute;
}
/* End Loader css */


/* Detail Page css Start */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: open sans;
  transition: ease 0.5s;
  text-decoration: none;
}

body {
  background: #eef2f9;
}

.product-card {
  background: white;
  width: 100%;
  max-width: 1000px;
  height: 700px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: #dbe2ee 0 0 20px 5px;
  display: flex;
  gap: 30px;
  color: #191847;
}

.cover-image {
  width: 400px;
  height: 400px;
  overflow: hidden;
}
img:hover{
  transform: scale(1.05);
}
.more-image-container {
  display: flex;
}
.more-image {
  width: 100px;
}
.image-container img {
  width: 100%;
  object-fit: cover;
}

.free-shipping {
  display: inline-block;
  background: #191847;
  padding: 5px 10px;
  border-radius: 30px;
  font-size: 14px;
  color: white;
  font-weight: 400;
}

.product-name {
  margin: 10px 0 20px 0;
  font-size: 22px;
}

.regular-price {
  text-decoration: line-through;
}

.discount-price {
  display: inline-block;
  font-size: 40px;
  font-weight: 700;
}

.offer-info {
  font-size: 14px;
  color: gray;
}

.add-to-cart {
  display: inline-block;
  width: 100%;
  background: #191847;
  color: white;
  padding: 15px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  box-shadow: #e2e9f3 0 5px;
  margin: 20px 0;
}
.add-to-cart ion-icon {
  font-size: 30px;
  margin-bottom: -8px;
}
.add-to-cart:hover {
  background: #e2e9f3;
  box-shadow: #191847 0 5px;
  color: #191847;
}
.add-to-cart:hover ion-icon {
  transform: rotate(360deg);
}

.remove-cart-btn {
  float: right;
  width: 25px;
}

.stock {
  display: flex;
  align-items: center;
  gap: 10px;
}
.stock-status {
  width: 14px;
  height: 14px;
  background: #00d98b;
  border-radius: 50%;
}
.stock-info {
  font-size: 14px;
  font-weight: 600;
  color: black;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  width: 200px;
  color: #191847;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  padding: 15px;
  border: solid #dfe6f0 2px;
  border-radius: 10px;
}
.button ion-icon {
  font-size: 30px;
  margin-bottom: -7px;
}
.button:hover {
  box-shadow: #e2e9f3 0 0 10px;
}
.button:hover ion-icon {
  transform: rotate(360deg);
}

/* Detail Page Css End */


/* Footer Csss STart */

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* Footer Csss end */

